@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Lato:wght@300;400&family=Poppins:wght@300;400;600&display=swap");
:root {
  --backgrnd: #ffeedb;
  --sec-color: #cc2936;
  --primary-color: #08415c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--backgrnd);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}
.app_container {
  padding: 2rem 3.5rem;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
  .app_container {
    padding: 1.5rem;
  }
}
