.exercise_sec {
  position: absolute;
  bottom: -10%;
}
.exercise_sec > h3 {
  border-left: 1px solid var(--sec-color);
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.exercises_container {
  display: flex;
  gap: 4rem;
}
.exercise_content {
  display: flex;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.exercise_icon {
  font-size: 3rem;
  margin-right: 1.4rem;
  position: relative;
  top: 4px;
  color: var(--sec-color);
}
.exercise_details > p {
  font-size: 0.8rem;
}
.exercise_details > p:nth-child(1) {
  font-size: 1.3rem;
  margin: 0;
}
.exercise_details > p:nth-last-of-type(2) {
  margin: 0;
}

.features_container {
  position: relative;
  top: 100px;
  margin-top: 4rem;
}
.features_row {
  display: flex;
  flex-wrap: wrap;
}
.feature_col {
  width: 50%;
}
.feature_blob {
  width: 60%;
  height: 50%;
  border-radius: 20%;
  position: absolute;
  top: 10%;
  left: 2%;
  background-color: var(--sec-color);
  filter: blur(90px);
  z-index: -10;
}
.feature_caption {
  font-size: 2rem;
  border-top: 2px dashed var(--sec-color);
  border-bottom: 2px dashed var(--sec-color);
  width: fit-content;
}
.feature_caption > span {
  color: var(--sec-color);
}
.feature_insp {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}
.feature_insp > div > h4 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--sec-color);
  font-family: "Edu VIC WA NT Beginner", cursive;
}
.feature_insp-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--sec-color);
}
.feature_pro {
  background-color: #fff;
  padding: 0.5rem;
  width: fit-content;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 20%;
  left: 5%;
}

@media only screen and (max-width: 600px) {
  .exercise_sec {
    position: relative;
  }
  .exercises_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .features_container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
  }

  .feature_col {
    width: 100%;
  }
  .feature_img {
    position: absolute;
    right: 15%;
    top: -35%;
    width: 100%;
  }
  .feature_blob {
    top: -7%;
    left: 20%;
    filter: blur(82px);
    width: 80%;
    height: 50%;
  }
  .feature_pro {
    display: none;
  }
  .feature_insp {
    flex-direction: column;
    gap: 1rem;
  }
  .feature_insp > div > h4 {
    margin: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .exercise_sec {
    position: relative;
  }
  .exercises_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .features_container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .feature_col {
    width: 100%;
  }
  .feature_col_content {
    position: relative;
    bottom: -80%;
  }
  .feature_img {
    position: absolute;
    right: 15%;
    top: -25%;
    width: 100%;
  }
}
